<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new freight</title>
</head>
<body>
<h3> Добавить рейс: </h3>
<p><b>XXXX - номер рейса: </b> <label>
    <input name="flight-number" type="text" value="">
</label></p>
<p><b>ДД/ММ/ГГГГ - дата рейса: </b> <label>
    <input name="flight-date" type="text" value="">
</label></p>
<p><b>ЧЧ:ММ - время вылета: </b> <label>
    <input name="departure-time" type="text" value="">
</label></p>
<p><b>ХХ.ХХ - длительность перелета: </b> <label>
    <input name="flight-duration" type="text" value="">
</label></p>
<p><b>ХХХ - аэропорт вылета: </b> <label>
    <input name="departure-airport-number" type="text" value="">
</label></p>
<p><b>ХХХ - аэропорт назначения: </b> <label>
    <input name="arrival-airport-number" type="text" value="">
</label></p>
<p><b>.ХХ - стоимость билета (>0): </b> <label>
    <input name="ticket-cost" type="text" value="">
</label></p>
<button class="save-freight">Save freight</button>
</body>
</html>