<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Стартовое меню добавления рейса:</title>
</head>
<body>
    <h1>Доступные опции:</h1>
    <div class="menu-main">
        <ul class="menu">
            <li class="menu-item"><a class="menu-link" th:href="@{/view/addFreight}">Добавить рейс</a></li>
        </ul>
    </div>
    <button class="add-freight">Ввод рейса</button>
    <button class="all-freights">Вывод всех рейсов</button>
    <button class="get-freight">Поиск рейса по номеру</button>
</body>
</html>